<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="SMTPName" value="mail.mayoreocardenas.com"/>
    <add key="SMTPPort" value="366"/>
    <add key="SMTPAccount" value="notificaciones_mapcel@mayoreocardenas.com"/>
    <add key="SMTPPassword" value="H&amp;^6R0S$GLHt"/>
    <add key="SMTPUseSSL" value="true"/>
  </appSettings>
</configuration>